body{
    font-family: "Sora", sans-serif;
    background-color: var(--bg-body);
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container{
    max-width: 1140px;
    display: grid;
    grid-template-areas: "about-reviewers google-review"
                         "about-reviewers meta-review";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 35px;
}

.about-reviewers{
    grid-area: about-reviewers;
}

.bg-star{
    display: inline-block;
    padding: 11px;
    border-radius: 50%;
    background-color: var(--bg-star);
}

.star-gradient {
    font-size: 21px;
    background: linear-gradient(to bottom, #FFFFFF 50%, #FFF9B3, #FDE24B, #FAB016, #D6991C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    display: inline-block;
    text-shadow: none;
    -webkit-mask-image: none;
}

.title{
    font-size: 2.25rem;
    letter-spacing: -0.8px;
    margin-top: 16px;
}

.paragraph-about{
    font-size: 1.25rem;
    letter-spacing: -0.2px;
    margin-top: 15px;
    line-height: 34px;
    color: var(--text-color);
}

.about-reviewers ul{
    margin-top: 35px;
}

.advantages-list{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 0.875rem;
    letter-spacing: -0.1px;
    margin-bottom: 13px;
    color: var(--text-color);
}

.advantages-list:last-child{
    margin-bottom: 0;
}

.google-review, .meta-review{
    width: 357px;
    height: 188px;
    padding: 30px 38px;
    border-radius: 10px;
    background-color: var(--bg-review);
    box-shadow: 0 0 30px 30px rgb(212, 212, 216, .15);
}

.google-review{
    grid-area: google-review;
    margin-left: auto;
}

.meta-review{
    grid-area: meta-review;
}

.logo-rating-container{
    display: flex;
    align-items: center;
    gap: 16px;
}

.logo-rating-container .logo{
    width: 87px;
}

.rating-stars{
    display: flex;
    align-items: center;
    gap: 4px;
}

.rating-stars .star{
    content: url(../images/Star_fill.svg);
}

.rating-stars .star.empty{
    content: url(../images/Star_fill_gray.svg);
}

.author{
    font-size: 1rem;
    margin: 17px 0 10px;
    color: var(--title-color);
}

.opinion{
    line-height: 26px;
    color: var(--text-color);
}

footer{
    padding: 5px 0;
    background-color: var(--text-color);
}

.paragraph-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: .75rem;
}

.external-link{
    display: flex;
    align-items: center;
    gap: 3px;
    color: var(--bg-body);
    transition: color .3s ease-in-out;
}

.external-link:hover{
    color: var(--bg-star);
}

.devchallenges-logo{
    width: 20px;
}